/**
* @name Improved Discord
* @author Tharpadarp
* @version 1.0
* @description Modifies the appearance Discord
*/
/*Improved Links*/
[class^=message_] [class^=contents_] [class^=anchor_], [class^=message_] [class^=repliedMessage_] [class^=anchor_], [class^=message_] [class^=modal] [class^=anchor_], [class^=message_] [class^=topic_] [class^=anchor_], [class^=focusLock] [class^=contents_] [class^=anchor_], [class^=focusLock] [class^=repliedMessage_] [class^=anchor_], [class^=focusLock] [class^=modal] [class^=anchor_], [class^=focusLock] [class^=topic_] [class^=anchor_], [class^=title] [class^=contents_] [class^=anchor_], [class^=title] [class^=repliedMessage_] [class^=anchor_], [class^=title] [class^=modal] [class^=anchor_], [class^=title] [class^=topic_] [class^=anchor_] {
  transition: background-color 50ms ease-out, color 50ms ease-out;
  color: var(--mention-foreground);
  background-color: var(--mention-background);
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 3px;
  border-bottom: 0px solid var(--brand-700);
}
[class^=message_] [class^=contents_] [class^=anchor_]::before, [class^=message_] [class^=repliedMessage_] [class^=anchor_]::before, [class^=message_] [class^=modal] [class^=anchor_]::before, [class^=message_] [class^=topic_] [class^=anchor_]::before, [class^=focusLock] [class^=contents_] [class^=anchor_]::before, [class^=focusLock] [class^=repliedMessage_] [class^=anchor_]::before, [class^=focusLock] [class^=modal] [class^=anchor_]::before, [class^=focusLock] [class^=topic_] [class^=anchor_]::before, [class^=title] [class^=contents_] [class^=anchor_]::before, [class^=title] [class^=repliedMessage_] [class^=anchor_]::before, [class^=title] [class^=modal] [class^=anchor_]::before, [class^=title] [class^=topic_] [class^=anchor_]::before {
  content: "🔗";
  margin-right: 1px;
  filter: saturate(0%);
  font-size: 90%;
}
[class^=message_] [class^=contents_] [class^=anchor_]:hover, [class^=message_] [class^=repliedMessage_] [class^=anchor_]:hover, [class^=message_] [class^=modal] [class^=anchor_]:hover, [class^=message_] [class^=topic_] [class^=anchor_]:hover, [class^=focusLock] [class^=contents_] [class^=anchor_]:hover, [class^=focusLock] [class^=repliedMessage_] [class^=anchor_]:hover, [class^=focusLock] [class^=modal] [class^=anchor_]:hover, [class^=focusLock] [class^=topic_] [class^=anchor_]:hover, [class^=title] [class^=contents_] [class^=anchor_]:hover, [class^=title] [class^=repliedMessage_] [class^=anchor_]:hover, [class^=title] [class^=modal] [class^=anchor_]:hover, [class^=title] [class^=topic_] [class^=anchor_]:hover {
  background-color: var(--brand-experiment);
}



/* IMPROVED COMPACT */

[class^="latin24CompactTimeStamp"]  {			/* Timestamps */
  color: #ffee58 !important;
  text-shadow: 0 0 10px;
}

[class^="replyBadge"], [class^="repliedMessage"] [class^="botTagCompact"] {			/*Reply Badge*/
  display: none;
}

/* Fix replies. */
[class*="compact"] [class^="repliedMessage"]:before {
  right: calc(100% - var(--custom-message-reply-indent));
}
[class*="compact"] [class^="repliedMessage"] {
  right: 13px;
  bottom: 2px;
  margin-left: calc(0.1em + 20px);
}
[class*="compact"] [class*="repliedMessageClickableSpine"] {
  right: calc(100% - var(--custom-message-reply-indent));
}

[class^="roleIcon"] {			/* Hide Role Icons */
  display: none;
}

[class^="edited"] {			/* Change edited text */
  color: rgb(126, 126, 126);
  text-shadow: 0 0 0;
  margin-left: 2px;
}

/* Better Channel Color */
[class*="modeSelected"] [class^="name"] , [class*="modeConnected"] {			/*Selected Channel*/
  color: #ffffff !important;
  text-shadow: 0 0 5px;
}
[class*="modeUnreadImportant"] [class^="name"] {			/*Unread Channel*/
  color: #A4F7F7 !important;
  text-shadow: 0 0 5px;
}
[class="name_a08117 container_a5ad5c text_a5ad5c"] {			/*Channel Group Name*/
  color: rgb(107, 121, 243);
  text-shadow: 0 0 5px;
}

/* ShowMeYourName plugin ALT ALT ALT ALT */
.vc-smyn-suffix {
  color: currentColor !important;
  opacity: 0.5;

  &::before {
    content: "| @" !important;
  }

  &::after {
    content: "" !important;
  }
}
[class*="compact_"] [class^="headerText_"] [class^="separator_"] {			/* Add a colon behind the username */
    color: var(--text-primary);
    position: unset;
    opacity: unset;
    display: initial;
    font-size: larger;
    margin-left: .5px;
  }
  
/* Username */
.cozy_f9f2ca .header_f9f2ca {
  margin-bottom: 4px;
}
[class*=contents] [class*=username],
.base_d7ebeb .text_d7ebeb strong,
.name_b11c5e,
[class*=repliedMessage] > [class*=username],
[class*=member] > [class*=username]
.member_a31c43 .username_d272d6 {
  background: color-mix(in srgb, currentColor 25%, rgba(0, 0, 0, 0.25));
  text-shadow: 0 0 5px color-mix(in srgb, currentColor 25%, #000);
  margin-right: 4px;
  padding: 0 4px;
  border-radius: 4px;
}
.username_f9f2ca::after {
  position: relative;
  margin: 0 0 0 8px;
  color: inherit;
  text-shadow: 0 0 5px #000;
}

.username_f9f2ca:not([style]) {			/* Prevent light mode from making whitenames black (visibility) */
  color: var(--brand-100);
}

/*GLOWY BITS*/
[class^=numberBadge] {			/*ping design*/
  box-shadow: 0px 0px 9px 2px #ff2d54;
  background-color: #ff2d54;
}
[class*=isCurrentUserConnected] {			/*Selected VC*/
  box-shadow: 0 0 9px 2px var(--green-360);
}
[class*=liveShapeRound] {			/*Live Pill*/
  box-shadow: 0 0 9px 2px var(--red-400);
}
[class*=userSmall] [class*=avatarSpeaking] {			/* VC Voice Rings */
  outline: 2.5px solid rgb(44, 200, 106);
  box-shadow: 0px 0px 6px rgb(0, 16, 3),  0px 0px 10px 5px rgb(44, 200, 106),  0px 0px 6px rgba(0, 0, 0, 0.953);
}
[class^=pill] [class^=item] {			/*Selected Server*/
  box-shadow: 0 0 9px #A4F7F7;
  background-color: #A4F7F7;
}
/*
.username_f9f2ca {			Username
	text-shadow: 0 0 9px !important;
}*/

.message_d5deea:hover:not([class*="mentioned"])  {      /*Message Hover Pink Bar*/
  background: linear-gradient(to right, #b246c242 2px, #02020200 2px) !important;
}
.messageListItem_d5deea:nth-child(even) {     /*Every Other Message Background Kinda*/
  background-color: #3b3b3b1e !important;
}
[class="imageContent_cf58b5 embedVideo_b0068a embedMedia_b0068a"] {     /*Remove Stupid Ass Embed Background*/
  background: none !important;
}


/*Use Original Codeblock Colors*/
#app-mount .hljs-comment,
#app-mount .hljs-quote {
  color: #586e75;
}
#app-mount .hljs-addition,
#app-mount .hljs-keyword,
#app-mount .hljs-selector-tag {
  color: #859900;
}
#app-mount .hljs-doctag,
#app-mount .hljs-literal,
#app-mount .hljs-meta .hljs-meta-string,
#app-mount .hljs-number,
#app-mount .hljs-regexp,
#app-mount .hljs-string {
  color: #2aa198;
}
#app-mount .hljs-name,
#app-mount .hljs-section,
#app-mount .hljs-selector-class,
#app-mount .hljs-selector-id,
#app-mount .hljs-title,
#app-mount .hljs-operator {
  color: #268bd2;
  font-weight: inherit;
}
#app-mount .hljs-attr,
#app-mount .hljs-attribute,
#app-mount .hljs-title.class_,
#app-mount .hljs-template-variable,
#app-mount .hljs-type,
#app-mount .hljs-variable {
  color: #b58900;
}
#app-mount .hljs-bullet,
#app-mount .hljs-link,
#app-mount .hljs-meta,
#app-mount .hljs-meta .hljs-keyword,
#app-mount .hljs-selector-attr,
#app-mount .hljs-selector-pseudo,
#app-mount .hljs-subst,
#app-mount .hljs-symbol {
  color: #cb4b16;
}
#app-mount .hljs-built_in,
#app-mount .hljs-deletion {
  color: #dc322f;
}
#app-mount .hljs-formula {
  background: #073642;
}
#app-mount .hljs-addition,
#app-mount .hljs-deletion {
  background-color: unset;
}
#app-mount .hljs-emphasis {
  font-style: italic;
}
#app-mount .hljs-strong {
  font-weight: 700;
}

:root {
  --font-code: Consolas,"Liberation Mono",Menlo,Courier,monospace;
}



/*Remove stupid ass edit image with AI*/
[aria-label="Edit Image with Apps"] {
  display: none;
}



/*Compact Emotes Are Larger*/
.contents_f9f2ca [class="emoji"] ,
[class="emoji jumboable"] {
  font-size: 34px;                              /*This is what makes emotes larger*/
  bottom: 12px                              /*Makes messages with emotes larger*/
}
.threadMessageAccessory_f9f2ca [class="emoji"] {     /*Thread containers no longer have oversized emotes*/
  font-size: 16px !important;
}
.contents_f9f2ca::before {      /*Hide weird extension of Thread*/
  display: none;
}

[class="repliedMessage_f9f2ca latin24CompactTimeStamp_f9f2ca"]:has(+ .contents_f9f2ca [class="emoji"] , + .contents_f9f2ca [class="emoji jumboable"]) .repliedMessageClickableSpine_f9f2ca  {      /*Make replied messages with emotes have a longer line*/
  height: 34px !important;
}
.contents_f9f2ca [class="emoji"] {          /*Moves emotes to be in line*/
  transform: translate(0px, 12px);
}
.contents_f9f2ca:has([class="emoji jumboable"]) {         /*Moves emotes to be in line*/
  transform: translate(0px, 12px);
}



/*Improved Links*/
[class^=message_] [class^=contents_] [class^=anchor_], [class^=message_] [class^=repliedMessage_] [class^=anchor_], [class^=message_] [class^=modal] [class^=anchor_], [class^=message_] [class^=topic_] [class^=anchor_], [class^=focusLock] [class^=contents_] [class^=anchor_], [class^=focusLock] [class^=repliedMessage_] [class^=anchor_], [class^=focusLock] [class^=modal] [class^=anchor_], [class^=focusLock] [class^=topic_] [class^=anchor_], [class^=title] [class^=contents_] [class^=anchor_], [class^=title] [class^=repliedMessage_] [class^=anchor_], [class^=title] [class^=modal] [class^=anchor_], [class^=title] [class^=topic_] [class^=anchor_] {
  transition: background-color 50ms ease-out, color 50ms ease-out;
  color: var(--mention-foreground);
  background-color: var(--mention-background);
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 3px;
  border-bottom: 0px solid var(--brand-700);
}
[class^=message_] [class^=contents_] [class^=anchor_]::before, [class^=message_] [class^=repliedMessage_] [class^=anchor_]::before, [class^=message_] [class^=modal] [class^=anchor_]::before, [class^=message_] [class^=topic_] [class^=anchor_]::before, [class^=focusLock] [class^=contents_] [class^=anchor_]::before, [class^=focusLock] [class^=repliedMessage_] [class^=anchor_]::before, [class^=focusLock] [class^=modal] [class^=anchor_]::before, [class^=focusLock] [class^=topic_] [class^=anchor_]::before, [class^=title] [class^=contents_] [class^=anchor_]::before, [class^=title] [class^=repliedMessage_] [class^=anchor_]::before, [class^=title] [class^=modal] [class^=anchor_]::before, [class^=title] [class^=topic_] [class^=anchor_]::before {
  content: "🔗";
  margin-right: 1px;
  filter: saturate(0%);
  font-size: 90%;
}
[class^=message_] [class^=contents_] [class^=anchor_]:hover, [class^=message_] [class^=repliedMessage_] [class^=anchor_]:hover, [class^=message_] [class^=modal] [class^=anchor_]:hover, [class^=message_] [class^=topic_] [class^=anchor_]:hover, [class^=focusLock] [class^=contents_] [class^=anchor_]:hover, [class^=focusLock] [class^=repliedMessage_] [class^=anchor_]:hover, [class^=focusLock] [class^=modal] [class^=anchor_]:hover, [class^=focusLock] [class^=topic_] [class^=anchor_]:hover, [class^=title] [class^=contents_] [class^=anchor_]:hover, [class^=title] [class^=repliedMessage_] [class^=anchor_]:hover, [class^=title] [class^=modal] [class^=anchor_]:hover, [class^=title] [class^=topic_] [class^=anchor_]:hover {
  background-color: var(--brand-experiment);
}



[class*=unreadMentionsFixedFooter_]{bottom: 0px !important;}

[class^=footer_]:has([class*=fixedDiscoveryIcon_]) {display: none; }




/*Clippy Status*/
@font-face {
    font-family: w95;
    src: url("https://saltssaumure.github.io/w9x-discord-theme/font/w95fa.woff2")
}
  .outer_af9888 ,
  .inner_af9888  {
      background-color: #ffc
  }
  .outer_af9888 {
      border-radius: 12px;
      border: 1px solid #000 !important
  }
  .outer_af9888::before {
      border: 1px solid #000;
      border-radius: 0;
      inset: unset;
      height: 6px;
      width: 12px;
      top: 10px;
      transform: skewX(60deg);
      left: -6px
  }
  .inner_af9888 {
      border-radius: 10px;
      padding: 6px
  }
  .content_af9888  {
      color: #000
  }
  .statusText_af9888 {
      color: inherit;
      font-family: "w95", var(--font-primary)
  }
  .outer_af9888::after {
      display: none
  }



/* Aligned Chatbox */
:is(main,section)[class^=chatContent] > form,
form > div[class^=submitContainer] {
  /* align chatbox */
  padding: 0px;
  > div { margin-bottom: 0px; border-radius: 0px; }
  > div[class^=channelBottomBarArea] {
    > div { margin: 0px;  }
    > div > div:not(.floatingBars__74017) {
      padding-top: 4px;
      min-height: 49px;
      border-radius: 0px;
    }
  }

  /* move slowmode/typing indicator to match */
  > div[class^=typing] {
    top: -24px;
    right: calc(var(--custom-index-scrollbar-margin) * 2 + var(--custom-index-scrollbar-width));
    margin-left: auto;
    width: fit-content;
    padding-left: 2px;
    padding-right: 9px;
    border-radius: 8px 8px 0px 0px;
    background-color: var(--channeltextarea-background);
  }
  /* make scrollbar meet chatbox */
  &::after { display: none; }

  /* fix replies */
  > div > div > div[class^=attachedBars] {
    min-height: unset !important;
    padding-bottom: 4px;
  }
}

/* jump to present */
div[class^=jumpToPresentBar] {
  left: 0; right: unset;
  border-radius: 0px 8px 0px 0px;
  background-color: var(--channeltextarea-background);
  > button[class^=barButtonMain] {
    flex: 0 0 auto;
    display: none;
  }
}
